<mat-toolbar color="primary">
  <!-- Palabra "Pokemon" en el lado izquierdo -->
  <span class="pokemon-title">Pokemon</span>
  
  <!-- Espacio para separar el contenido y el botón de cerrar sesión -->
  <span class="spacer"></span>
  
  <!-- Icono de usuario y nombre en el lado derecho -->
  <div class="user-info">
    <mat-icon class="user-icon">account_circle</mat-icon>
    <span class="user-name">{{ userName }}</span>
  </div>
  
  <!-- Botón de Salir -->
  <button mat-button color="warn" class="logout" (click)="logout()">
    <mat-icon>logout</mat-icon>
    Cerrar Sesión
  </button>
</mat-toolbar>

<!-- Contenido principal -->
<div class="content-container">
  <app-pokemon-list></app-pokemon-list>
</div>
